body {
    background-color: #ffffff;
    color: #007568;
    font-family: Arial, sans-serif;
}






/* заголовки  */
.title {
    color: #007568;
    font-weight: bold;
}

/* для логотипа - жирный текст */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #007568;
}







/*  фон для главной страницы */
.main-page {
    background-image: url("https://res.cloudinary.com/dqm8yufmb/image/upload/v1734010773/main-background2_ezbqv2.jpg");
    background-size: cover;
    background-position: top center;
    height: 45vh;
}

.background-container-main {
    height: 100%;
    backdrop-filter: blur(4px);
}

/* фон для регистрации и авторизации */
.registration-page {
    background-image: url("https://res.cloudinary.com/dqm8yufmb/image/upload/v1733780027/registration-back2_e4laqz.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    backdrop-filter: blur(10px);
}




/* форма для регистрации и авторизации */
.registration-form {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

/*  форма для навигационной модели */
.navbar {
    background-color: rgba(255, 255, 255, 0.85);
}




/* кнопка с зелёным фоном */
.btn-primary {
    background-color: #007568;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #20b2aa;
}

/* кнопка, окрашенная по краям */
.custom-btn {
    background-color: transparent;
    color: #007568;
    border: 2px solid #007568;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: #007568;
    color: white;
}

/*  кнопки в dropdown у навигационного меню */
.dropdown-item:hover {
    background-color: #007568;
}

.dropdown-item:hover {
    color: white;
}




/* Ссылки */
a {
    color: #00423b;
    text-decoration: none;
}

a:hover {
    color: #75000E;
}







/* черта */
.custom-divider {
    border-top: 1px solid rgba(0, 117, 104, 100);
    margin: 0;
}

/* аватарка  */
.rounded-circle {
    object-fit: cover;
    border: 1px solid #ccc;
}

/* скрыть имя на навигационной модели */
.user-name {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ограничение ширины для имени в навигационной модели*/
.nav-item {
    max-width: 200px;
}


